In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis'

In [3]:
df_ords_prods_merge = pd.read_pickle(r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis\02 Data\Prepared Data\ords_prods_merge.pkl')

In [4]:
df_ords_prods_merge.shape

(32404859, 15)

In [5]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   eval_set                object
 8   order_number            int64
 9   order_dow               int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
dtypes: category(1), float64(2), int64(10), object(2)
memory usage: 3.4+ GB

In [6]:
df_ords_prods_merge = df_ords_prods_merge[:1000000]

In [7]:
def price_label(row):
    if row['prices'] <=5 :
        return 'Low-range product'
    elif (row['prices']>5) and (row['prices']<=15):
        return 'mid-range product'
    elif row['prices']>15:
        return 'high-range product'
    else: return 'Not enough data'

In [8]:
df_ords_prods_merge['price_range'] = df_ords_prods_merge.apply(price_label, axis=1)

In [9]:
df_ords_prods_merge['price_range'].value_counts(dropna = False)

price_range
mid-range product     652638
Low-range product     338018
high-range product      9344
Name: count, dtype: int64

In [10]:
df_ords_prods_merge.shape

(1000000, 16)

In [11]:
df_ords_prods_merge['prices'].max()

24.5

In [12]:
for x in range(30,45):
    print("my age is %d" %(x))

my age is 30
my age is 31
my age is 32
my age is 33
my age is 34
my age is 35
my age is 36
my age is 37
my age is 38
my age is 39
my age is 40
my age is 41
my age is 42
my age is 43
my age is 44

In [13]:
df_ords_prods_merge['order_dow'].value_counts(dropna = False)

order_dow
0    183956
1    174070
6    137125
5    132019
2    132015
3    120883
4    119932
Name: count, dtype: int64

In [28]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low_range_product'

In [32]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 5) & (df_ords_prods_merge['prices'] > 15), 'price_range_loc'] = 'Mid_range_product'

In [34]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High_range_product'

In [42]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
NaN                   652638
Low_range_product     338018
High_range_product      9344
Name: count, dtype: int64

In [40]:
df_ords_prods_merge['order_dow'].value_counts(dropna = False)

order_dow
0    183956
1    174070
6    137125
5    132019
2    132015
3    120883
4    119932
Name: count, dtype: int64

In [60]:
result = []

for value in df_ords_prods_merge["order_dow"]:
  if value == 0 or value == 1:
    result.append("Busiest day")
  elif value == 4 or value == 3:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [62]:
df_ords_prods_merge['Busiest_day'] = result

In [64]:
df_ords_prods_merge['Busiest_day'].value_counts(dropna = False)

Busiest_day
Regularly busy    401159
Busiest day       358026
Least busy        240815
Name: count, dtype: int64

In [66]:
#finding busiest hours

In [70]:
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    86241
11    84780
14    83070
13    82272
15    81234
12    80541
16    77784
9     76870
17    64196
8     53294
18    50082
19    38584
20    30367
7     27542
21    24338
22    19126
23    12156
6      9090
0      6560
1      3576
5      2831
2      2174
3      1653
4      1639
Name: count, dtype: int64

In [80]:
Hour_result = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value == 10 or value == 11:
    Hour_result.append("Most orders")
  elif value == 4 or value == 3:
    Hour_result.append("Fewest orders")
  else:
    Hour_result.append("Average orders")

In [82]:
df_ords_prods_merge['busiest_period_of_day'] = Hour_result

In [84]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Average orders    825687
Most orders       171021
Fewest orders       3292
Name: count, dtype: int64

In [86]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'merge_loop.pkl'))