In [1]:
import pandas as pd
import numpy as np
import os

In [43]:
path = r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis'

In [5]:
df_ords_prior = pd.read_csv(r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis\02 Data\Original Data\orders_products_prior.csv', index_col = False)

In [11]:
df_ords = pd.read_csv(r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_checked.csv', index_col = False)

In [13]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [17]:
df_ords_prior.shape

(32434489, 4)

In [19]:
df_ords.shape

(3421083, 8)

In [21]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [23]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [25]:
df_merged_large.shape

(32434489, 12)

In [39]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [45]:
df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [47]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))