In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis'

In [3]:
df_combined = pd.read_pickle(r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.pkl')

In [4]:
df_combined.shape

(32434489, 12)

In [5]:
df_prods = pd.read_csv(r'C:\Users\Janvi\Documents\09-2024 Instacart Basket Analysis\02 Data\Prepared Data\products_checked.csv', index_col = False)

In [6]:
df_prods.shape

(49672, 6)

In [7]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [8]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   eval_set                object
 4   order_number            int64
 5   order_dow               int64
 6   order_hour_of_day       int64
 7   days_since_prior_order  float64
 8   product_id              int64
 9   add_to_cart_order       int64
 10  reordered               int64
 11  _merge                  category
dtypes: category(1), float64(1), int64(9), object(1)
memory usage: 2.7+ GB

In [9]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
df_combined = df_combined.drop(columns = ['Unnamed: 0'])

In [11]:
df_merged = df_prods.merge(df_combined, on = "product_id")

In [12]:
df_merged.shape

(32404859, 15)

In [13]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [14]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
ords_prods_merge = df_merged

In [34]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))